body {
    margin: 0;
    font-family: Arial,sans-serif;
    background-color: azure;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 100%;
    background-color: #162623;
    color: #F0F5F7;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #F0F5F7;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.sidebar ul li a:hover{
    background-color: #295255;
    transform: scale(1.05);
}